body {
	background: #F06292;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;}

#container {
	width: 100%;}

#title {
	font-family: 'Audiowide', cursive;
	font-size: 60px;
	text-align: center;}

.box-elem {
	width: 75%;
	margin: 0 auto;}

#display-box {
	min-height: 200px;
	background-color: #fff;
	color: #000;
	border-radius: 4px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
	display: flex;
    justify-content: center;
    align-items: center;}

#ipsum-display {
	padding: 0 50px;
	font-size: 20px;}

#input-box {
	margin-bottom: 15px;}

input {
	width: 60px;
	height: 40px;
	color: rgb(61, 56, 56);
	font-size: 18px;
	border-radius: 4px;
	text-align: center;
	border: 0;}

input::placeholder {
	color: rgb(202, 200, 200);
	font-size: 16px;}

#submit-btn {
	background: #EEEEEE;
	color: rgb(61, 56, 56);
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	width: 250px;
	height: 50px;
	border-radius: 4px;
	text-align: center;
	border: 0px;
	outline: none;
}

@media only screen and (max-width: 571px) {
	#title {
		font-size: 50px;}
	.box-elem {
		width: 100%;
		margin: 0 auto;}
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
	#title {
		font-size: 40px;}
	#ipsum-display {
		padding: 10px 30px;
		font-size: 16px;}
  }